extends layout

block content
  h1= title
  p Welcome to TEST

  form(name="formName", action="/mobitor", method="post")
    input(type="text", name="message")
    input(type="submit", value="go")
    input(id="txtMessage",type="text", name="message")
    div(id="divMessages")